@use '../variables';

button {
  border: none;
}

button:hover {
  opacity: .7;
}

.button {
  display: flex;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 8px;
  align-items: center;

  &--primary {
    color: #fff;
    background-color: variables.$blue1;
  }

  @media (max-width: 640px) {
    display: block;
    width: 100%;
  }

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
} 
